
<div class="container" style="margin-left:0;" >
  <div class="row">
  <div class="col-md-2">
    <br>
    <form class="form-inline my-2 my-lg-0 col-12 col-lg-auto ">
      <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
       name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search product..." required>
   </form>
   <br>
   
   
   <div class="list-group" id="list-tab" role="tablist" >
    <h4>Categories: </h4>
    <a class="list-group-item list-group-item-action list-group-item-dark" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Spices</a>
    <a class="list-group-item list-group-item-action list-group-item-dark" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Dried Fruits</a>
    <a class="list-group-item list-group-item-action list-group-item-dark" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Peanuts / Nuts / Seeds</a>
    <a class="list-group-item list-group-item-action list-group-item-dark" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Cereals</a>
  </div>
  </div>

  <div class="col-md-10">
  <div class="d-flex justify-content-right row">
    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search"  id="searchName" class="form-control form-control-dark text-bg-dark" placeholder="Search product..." required>
    </form>
    <form class="form-inline my-2 my-lg-0 col-12 col-lg-auto ">
      <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
       name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search product..." required>
   </form> -->
      <div class="col-md-10">
          <div class="row p-2 bg-white border rounded" *ngFor="let product of products" style ="margin-top: 2%;">
              <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="data:image/jpeg;base64,{{product.imageFile}}"></div>
              <div class="col-md-6 mt-1">
                  <h5>{{product.name}}</h5>
                  <div class="d-flex flex-row">
                  </div>
                  <div class="mt-1 mb-1"><span>Producer: {{product.producerDto.name}}</span></div>
                  <div class="mt-1 mb-1"><span>Category: {{product.categoryDto.name}}</span></div>
                  <div class="mt-1 mb-1"><span >Type: {{product.productType}}</span></div>
              </div>
              <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                  <div class="d-flex flex-row align-items-center">
                      <h4 class="mr-1">${{product.price}}</h4><span class="strike-text">${{product.price *2}}</span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-3">
                    <button class="btn btn-dark btn-sm" type="button" routerLinkActive="active" routerLink="/productDetails" (click)="modifyProductDtoIdInService(product.id)">Details</button>
                    <button class="btn btn-outline-dark btn-sm mt-2" (click)="onAddToCart(product.id)" type="button">Add to Cart</button></div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>

  <!--https://bbbootstrap.com/snippets/bootstrap-ecommerce-category-product-list-page-93685579 -->