<table class="table table-striped table-hover">
<thead>
  <th>Id</th>
  <th>Name</th>
  <th>Producer</th>
  <th>Description</th>
  <th>Price</th>
  <th>Type</th>
  <th>Category</th>
</thead>
<tbody>
  <tr *ngFor="let product of products">
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.producerDto.name}}</td>
  <td>{{product.description}}</td>
  <td>{{product.price}}</td>
  <td>{{product.productType}}</td>
  <td>{{product.categoryDto.name}}</td>
  </tr>
</tbody>

</table>

<!-- <div>
    <p>Products: </p>
    <Ul>
        <li *ngFor="let product of products">
            {{product.id}} 
            {{product.name}} 
            {{product.description}} 
            {{product.imageUrl}} 
            {{product.price}} 
            {{product.productType}} 
            {{product.producerDto.name}}
            {{product.categoryDto.name}}
        </li>
    </Ul>
</div> -->


<!-- <div class="row row-cols-1 row-cols-md-2 g-4" *ngFor="let product of products">
    <div class="col">
      <div class="card">
        <img src=""  class="card-img-top" alt="motocicleta">
        <div class="card-body">
          <h5 class="card-title">{{product.name}} </h5>
          <p class="card-text">{{product.price}} </p>
        </div>
      </div>
    </div>
    -->

    <form action="" [formGroup]="addProductForm" (ngSubmit)="onAddProduct()" class="row g-3 needs-validation" validate >
      <div class="col-md-2">
        <label for="validationCustom01" class="form-label">Name</label>
        <input formControlName="firstName" type="text" class="form-control"  id="validationCustom01" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2">
        <label for="validationCustom02" class="form-label">Producer</label>
        <input  formControlName="lastName" type="text" class="form-control" id="validationCustom02" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustomUsername" class="form-label" >Description</label>
        <div class="input-group has-validation">
          <input formControlName="email" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
            required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <label for="validationCustom03" class="form-label" >Price</label>
        <input formControlName="password" type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid password.
        </div>
      </div>
      <div class="col-md-2">
        <label for="validationCustom03" class="form-label">Type</label>
        <input  formControlName="city" type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-2">
        <label for="validationCustom03" class="form-label" >Category</label>
        <input formControlName="address" type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid address.
        </div>
      </div>
      <!-- <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div> -->
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Add product</button>
      </div>
    </form>
