<!-- <div>
    <p>Products: </p>
    <Ul>
        <li *ngFor="let product of products">
            {{product.id}} 
            {{product.name}} 
            {{product.description}} 
            {{product.imageUrl}} 
            {{product.price}} 
            {{product.productType}} 
            {{product.producerDto.name}}
            {{product.categoryDto.name}}
        </li>
    </Ul>
</div> -->


<div class="row row-cols-1 row-cols-md-2 g-4" *ngFor="let product of products">
    <div class="col">
      <div class="card">
        <img src=""  class="card-img-top" alt="motocicleta">
        <div class="card-body">
          <h5 class="card-title">{{product.name}} </h5>
          <p class="card-text">{{product.price}} </p>
        </div>
      </div>
    </div>
   
