<div class="container" style="width:80%; margin-left:0" >
<h2> <b>Products:</b></h2>
<table class="table table-striped table-hover">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Producer</th>
    <th>Description</th>
    <th>Price</th>
    <th>Type</th>
    <th>Category</th>
    <th>Image</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.producerDto.name}}</td>
      <td>{{product.description}}</td>
      <td>${{product.price}}</td>
      <td>{{product.productType}}</td>
      <td>{{product.categoryDto.name}}</td>
      <td><img src='data:image/jpeg;base64,{{product.imageFile}}' style="width: 25px; height: 25px;"></td>
      <td><button class="btn fa fa-pencil" aria-label="Edit" (click)="onEditClicked(product.id)"></button></td>
      <td><button type="button" class="btn-close" aria-label="Delete" (click)="onDeleteProduct(product.id)"></button>
      </td>
    </tr>
  </tbody>
</table>


<form action="" [formGroup]="addProductForm" (ngSubmit)="onSubmit()" class="row g-4 needs-validation" validate>
  <div class="col-md-2">
    <label for="name" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" required>
  </div>
  <div class="col-md-2">
    <label for="producerDto" class="form-label">Producer</label>
    <div class="dropdown">
      <select id="producerDto" formControlName="producerDto" class="btn dropdown-toggle"
        style="background-color: white; width:100% " role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option *ngFor="let producer of producers" value="{{producer.id}}" class="dropdown-item">{{producer.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <label for="description" class="form-label">Description</label>
    <div class="input-group has-validation">
      <input formControlName="description" type="text" class="form-control" id="description"
        aria-describedby="inputGroupPrepend" required>
    </div>
  </div>
  <div class="col-md-1">
    <label for="price" class="form-label">Price</label>
    <input formControlName="price" type="text" class="form-control" id="price" required>
  </div>
  <div class="col-md-2">
    <label for="productType" class="form-label">Type</label>
    <div class="dropdown ">
      <select id="productType" formControlName="productType" class="btn dropdown-toggle"
        style="background-color: white; width:100%" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option *ngFor="let enum of productType|keyvalue" value="{{enum.key}}" class="dropdown-item">{{enum.value}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <label for="categoryDto" class="form-label">Category</label>
    <div class="dropdown">
      <select id="categoryDto" formControlName="categoryDto" class="btn dropdown"
        style="background-color: white; width:100%" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option *ngFor="let category of categories" value="{{category.id}}" class="dropdown-item">{{category.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label class="form-label">Upload Image</label>
      <input type="file" (change)="onFileChanged($event)" class="form-control">
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-dark" type="submit">{{editProductMode ? 'Update product' : 'Add new product'}}</button>
  </div>
</form>


<br>
<br>
<br>

<h2> <b>Producers:</b></h2>
<table class="table table-striped table-hover">
  <thead>
    <th style="width: auto">Id</th>
    <th style="width: auto">Producer Name</th>
    <th style="width: auto">Edit</th>
    
  </thead>
  <tbody>
    <tr *ngFor="let producer of producers">
      <td>{{producer.id}}</td>
      <td>{{producer.name}}</td>
      <td><button class="btn fa fa-pencil" aria-label="Edit" (click)="editProducerClicked(producer.id)"></button></td>
    </tr>
  </tbody>
</table>

<form action="" [formGroup]="addProducerForm" (ngSubmit)="onSubmitProducer()" class="row g-4 needs-validation" validate>
  <div class="col-md-2">
    <label for="name" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" required>
  </div>

  <div class="col-12">
    <button class="btn btn-dark" type="submit">{{editProducerMode ? 'Update producer' : 'Add new producer'}}</button>
  </div>
</form>

<br>
<br>
<br>

<h2> <b>Categories:</b></h2>
<table class="table table-striped table-hover">
  <thead>
    <th>Id</th>
    <th>Category Name</th>
    <th>Edit</th>
    
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{category.id}}</td>
      <td>{{category.name}}</td>
      <td><button class="btn fa fa-pencil" aria-label="Edit" (click)="editCategoryClicked(category.id)"></button></td>
    </tr>
  </tbody>
</table>

<form action="" [formGroup]="addCategoryForm" (ngSubmit)="onSubmitCategory()" class="row g-4 needs-validation" validate>
  <div class="col-md-2">
    <label for="name" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" required>
  </div>

  <div class="col-12">
    <button class="btn btn-dark" type="submit">{{ editCategoryMode ? 'Update category' : 'Add new category'}}</button>
  </div>
</form>
</div>