<br>
  <div class="card mb-3" style="max-width: 1200px; align-content: center;">
    <div class="row g-0" style="align-content:center;">
      <div class="col-sm-6">
        <img src="../../../assets/images/Home1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-sm-6">
        <div class="card-body">
          <h5 class="card-title">About us</h5>
          <p class="card-text">Hello, we are BuyMyStuff team and we invite you to hear our story.
            It all started from a simple idea, food with personality, prepared from well-chosen ingredients, from all over the world.
            The online store, in the future www.BuyMyStuff.ro appeared naturally, thanks to many customers who were not from Bucharest, but who in passing visited one of our stores and were very satisfied with the quality and diversity of our products.</p>
        </div>
      </div>
    </div>
  </div>
