@import "~bootstrap/dist/css/bootstrap.css";
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

html {
    margin: 0px;
    height: 100%;
    width: 100%
}

body {
    background-image: url('/../assets/images/final.jpg');
    background-size:cover ;
    background-attachment: fixed;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}